button, button:disabled:hover{
	outline: 0;
	padding: 10px;
	width: 100px;
	margin: 5px;
	border-radius: 3px 3px 3px;
	background-color: transparent;
    color: white;
    border: 2px dashed white;
    font-weight: bold;
    font-size: 1.2em;
}
button:hover{
	background-color: #000;
    color: #d6bc31;
    border-color: #d6bc31;
}
.card{width: 150px;height: 217px;display: inline-block;}
.onTop{position: relative;box-shadow: -2px 2px 7px #000000}
.doubleWidthBtn{width:210px;}